<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" 
id="WebApp_ID" version="4.0"
 metadata-complete="true">


  <display-name>HOMEWORK02</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>presentationLayer.AddUser</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>FindUser</servlet-name>
    <servlet-class>presentationLayer.FindUser</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>FindUser</servlet-name>
    <url-pattern>/FindUser</url-pattern>
  </servlet-mapping>
  
<resource-ref>
			<res-ref-name>jdbc/ora</res-ref-name>
			<res-type>javax.sql.DataSource</res-type>
			 <res-auth>Container</res-auth>
		</resource-ref>
  
  <!-- http://127.0.0.1:8080/HOMEWORK01/AddUser -->
  
</web-app>